<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Count Repeats</title>
  </head>
  <body>
    <h1>How many times was your word repeated?<h1>
    {% if }
