<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Count Repeats</title>
  </head>
  <body>
    <h1>Now to see how many times was your word repeated...</h1>

    {% if wordInput == "" %}

    <h4>Try to enter a word...</h4>

    {% elseif sentenceInput == "" %}

    <h4>Try entering a sentence...</h4>

    {% else %}

    <h4>Your word {{wordInput}} came up {{ wordRepeated }} times! </h4>

    {% endif %}
  </body>

</html>
